* {
    margin: 0;
    padding: 0;
}

.inicio {
    background-color: aquamarine;
    padding: 20px;
    height: 100vh;
    width: 100wh;
}

.acciones {
    background-color: blueviolet;
    padding: 20px;
    display: none;
    height: 100vh;
    width: 100wh;
}

.retirarSaldo{
    background-color: rgb(43, 226, 214);
    padding: 20px;
    display: none;
    height: 100vh;
    width: 100wh;
}

.depositoSaldo{
    background-color: rgb(226, 131, 43);
    padding: 20px;
    display: none;
    height: 100vh;
    width: 100wh;
}